
.top-bar {
    background-color: var(--main-color);
    height: 100px;
    display: flex;
    align-items: center; 
    position: fixed; /* Fix the top bar at the top */
    width: 100%; /* Full width of the screen */
    z-index: 1100; /* Ensure the top bar is above the sidebar */
}

.sidebar-toggle-icon {
    cursor: pointer;
    margin-left: 20px; 
}

.brand-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 40px;
}

.logo {
    margin-right: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn-flag {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: none !important;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50% !important;
}

.btn-help {
    width: 25px;
    height: 25px;
    background-color: transparent !important;
    background-size: cover;
    background-position: center;
    border: white !important;
    cursor: pointer;
    margin-right: 15px;
    scale: 0.75;
    filter: invert(1);
}

.btn-margin {
    margin-right: 60px !important;
}

.btn-text {
    border: none;
    color: #ffffff !important;
    font-weight: bold !important;
    margin-right: 15px;
    cursor: pointer;
}

.btn-text:hover {
    background-color: rgba(192, 192, 192, 0.3) !important; 
    color: #ffffff !important;
    margin-right: 15px !important;
    font-weight: bold !important;
}
