
.form-check-input:focus {
  border-color: #d35400; /* Change border color on focus */
  box-shadow: 0 0 0 .25rem rgba(211, 84, 0, .25);
}

.LOGIN{
  text-align: center;
  font-weight: bold;
}

.login-btn{
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color) !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover, .login-btn:active{
  background-color: var(--secondary-color) !important;
  color: var(--main-color) !important;
  border: 2px solid var(--main-color) !important;
}

.signup-text{
  color : var(--main-color) !important;
  text-decoration: none !important;
}