

.top-bar {
    background-color: var(--main-color);
    height: 100px;
    display: flex;
    align-items: center; 
    position: fixed; /* Fix the top bar at the top */
    width: 100%; /* Full width of the screen */
    z-index: 1100; /* Ensure the top bar is above the sidebar */
}

.sidebar-toggle-icon {
    cursor: pointer;
    margin-left: 20px; 
}

.brand-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 40px;
}

.logo {
    margin-right: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn-flag {
    width: 30px; /* Ensure width and height are equal */
    height: 30px; /* Ensure width and height are equal */
    background-image: url('../../assets/UK.webp'); /* Ensure this path is correct */
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: none !important;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50% !important;
}
.btn-flag:hover {
    scale: 0.9;
}

.btn-help {
    border: white !important; /* Remove any border */
    cursor: pointer;
    margin-right: 15px; /* Space between buttons */
    scale: 0.75; /* Set initial scale */
}

.btn-help svg{
    font-size: 1.75rem !important;
    color: white !important;
}

.btn-help:hover {
    scale: 0.85; /* Adjust as needed */
    
   
    background-color: transparent !important;
    background-size: cover;
    background-position: center;
    border: white !important;
    cursor: pointer;
    filter: invert(1);
}

.btn-margin {
    margin-right: 60px !important;
}

.btn-text {
    border: none;
    color: #ffffff !important;
    font-weight: bold !important;
    margin-right: 15px;
    cursor: pointer;
}

.btn-text:hover {
    background-color: rgba(192, 192, 192, 0.3) !important; 
    color: #ffffff !important;
    margin-right: 15px !important;
    font-weight: bold !important; /* Adjust font weight as needed */
    cursor: pointer; /* Change cursor to pointer */
}

@media (max-width: 768px) {
    .navbar-collapse{
        background-color: #ffffff;
        border: 2px solid var(--main-color);
        z-index: 99;
        border-radius: 1rem;
    }

    .navbar-collapse .btn{
        color: var(--main-color) !important;
        border: 2px solid var(--main-color) !important;
        margin: 0 !important;
    }

    .navbar-collapse .btn-help svg{
        color: var(--main-color) !important;
    }
}



