#inputId {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputField {
  width: 250px;
  border: 1px solid #d76f30;
  border-radius: 5px;
  padding: 12px;
}

.inputField:focus {
  border: 2px solid #d76f30;
  outline: none;
  box-shadow: 0 0 5px rgba(215, 111, 48, 0.5);
}
