.custom-badge {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  font-family: Poppins !important;
  margin-right: 5px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #6c757d;
}

.review-badge {
  width: 2.1rem;
  background-color: var(--main-color) !important;
  padding: 0.5rem 0rem !important;
  border-radius: 5px !important;
  border-bottom-left-radius: 0% !important;
  font-family: Poppins;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.custom-status-badge {
  font-size: 1rem !important;
  font-weight: 500 !important;
  font-family: Poppins !important;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-card-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.wishlist-card-btn {
  position: absolute;
  right: 1.25rem;
  top: 180px;
  /* Adjust this value based on the height of your image and spacing */
}

.wishlist-card-btn .btn,
.dropdown-card-btn .btn:active {
  background-color: var(--main-color) !important;
  color: white !important;
  border: none !important;
}

.img-placeholder {
  height: 200px;
}

.img-placeholder span {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #6c757d;
}

.activity-bookmark {
  position: absolute;
  top: 0.5rem;
  left: 1.0rem;
  border-radius: 10px;
}

.activity-bookmark i {
  padding: 0.4rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.airline-logo {
  width: 8rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .airline-logo {
    width: 6rem;
  }

}

.flight-time {
  font-family: 'Skyscanner Relative', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.flight-airline-iataCode {
  color: #626971;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.flight-duration {
  color: #626971;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
}

.flight-path {
  background-color: #c1c7cf;
  border-radius: .5rem;
  display: block;
  height: .125rem;
  line-height: 0;
  margin: .25rem auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 90%;
}

.flight-transit-stop {
  zoom: 1;
  background-color: #e70866;
  background-image: none;
  border-radius: .5rem;
  box-shadow: 0 0 0 .125rem #fff;
  display: inline-block;
  height: .375rem;
  line-height: 0;
  margin: 0 4%;
  position: relative;
  top: -.125rem;
  width: .375rem;
}

.flight-stop {
  color: #e70866;
  font-weight: normal;
  white-space: pre;
}

.flight-direct {
  color: #0c838a;
  font-weight: normal;
  white-space: pre;
}

@media (max-width: 768px) {

  .flight-pricing,
  .hotel-pricing {
    border-top: 0.0625rem solid #c1c7cf;
  }
}

@media (min-width: 768px) {

  .flight-pricing,
  .hotel-pricing {
    border-left: 0.0625rem solid #c1c7cf;
  }
}

.flight-base-price {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.flight-total-price {
  color: #626971;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
}

.bookingCard {
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
}

.baggage-info span {
  font-weight: normal;
  font-size: 1rem;
}

.baggage-info .bag-icon {
  background-color: var(--main-color);
  color: white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.baggage-info .bag-icon:last-of-type {
  margin-left: -3px;
}

.baggage-info .bag-icon span {
  position: absolute;
  color: var(--main-color);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 3px;
  font-size: 0.75rem;
}

.baggage-info .bag-icon.none {
  background-color: #f76746;
}

.baggage-info .bag-icon.none span {
  margin-right: 0.15rem;
  font-size: 1.5rem;
}

.amenity-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f3;
  color: #404756;
}

.flight-tooltip {
  border-radius: 0.375rem;
  --bs-tooltip-bg: white;
  --bs-tooltip-color: #404756;
}