
.bookingTabs .nav-link{
    color: black !important;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}
.bookingTabs .nav-link.active{
    color: var(--main-color) !important;
    font-size: 15px;
    font-weight: bold;
    border: var(--main-color) 3px solid;

}


